body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
  font-size: 16px;
}


.navbar-default{
  background:#2d8659;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:22px;
  color:#fff !important;
  font-weight:bold;
}
#navbar-brand l
{
  margin-left: 25px;
}


#navbar a
{
  color: white;
}

input
{margin-top: 40px;
  padding: 5px 25px;
  border: 1px soild ;
  border-radius: 5px;
}
.row
{
  text-align: center;
  margin-top: 50px;
}

 input[type=text],select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
  }
  .btn
  {
    width: 50%;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  .btn:hover
  {
    color: #2d8659;
  }
  
  .allboxes
  {
    border: 1px soild #ccc; 
    margin-top: 50px;
    
  }
  #threeBox
  {
    margin-top: 100px;
  }


